

<body>
<div>
  <a routerLink="listap">Lista Dei Podcast</a>
  <a [routerLink]="['riproducip',0]">Riproduci Podcast</a>
</div>


<main>
<router-outlet>
  
</router-outlet>
</main>

<br>
<hr>
<br>
<hr>

<h1>Pagine Instagram Dei Creatori</h1>
<h2>Lorenzo Rossini</h2>
<a href="https://www.instagram.com/lolloftheking_6/">
    <img src="../assets/instagram.jpg" width="200px" height="200px"> 
</a>

<br>
<hr>
<br>
<hr>

<h2>Andrea Stucchi</h2>
<a href="https://www.instagram.com/stucchi_z9/">
    <img src="../assets/instagram.jpg" width="200px" height="200px"> 
</a>
</body>